<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="EventLog" source="${appName}" name="eventLog"/>
    <target xsi:type="AspNetTrace" name="aspnet"/>
    <target name="console" xsi:type="ColoredConsole"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="aspnet" />
    <logger name="*" minlevel="Warn" writeTo="eventLog" />
  </rules>
</nlog>